
@media (min-width: 768px){
    #menu {
        display: none;
    }

    h1 {
    font-family: "Arial Black", Arial, sans-serif;  
}
.topline {
    margin-bottom: -30px;
}
h2 {
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 38px;
}
.hero-overlay p{
    font-family: "Arial Black", Arial, sans-serif;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 340px; /* Adjust size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between logo and h1 */
}

.chamber-name {
    margin: 0; /* Remove default margin */
    font-size: 26px;
}

.navigation {
    flex-grow: 1; /* Take remaining space */
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    
}

.navigation ul li {
    margin-right: 20px; /* Adjust spacing between navigation items */
    z-index: 100;
}

.navigation ul li:last-child {
    margin-right: 0; /* Remove margin from last item */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
section {
    margin-bottom: 40px;
}

/* Center text within sections */
section h2,
section p,
section .event,
section .spotlight {
    text-align: center;
}

/* Style links within sections */
section a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

section a:hover {
    text-decoration: underline;
}

/* Style footer */
footer {
    text-align: center;
    margin-top: 40px;
}
.cta-section {
   text-align: center;
}
}