:root{
    font-family: 'Ubuntu Mono', sans-serif;
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

button[type="submit"] {
    background-color: darkblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darkblue;
}

.error-message {
    color: darkred;
    margin-top: 5px;
}